---
import Layout from "../layouts/Layout.astro";
import image from "../images/react2.svg";
---

<Layout title="Learn React">
  <div>
    <div class="container-fluid bg-dark pt-5">
      <img src={image} alt="" class="img-fluid mx-auto d-block" />
    </div>
    <div class="container p-5">
      <div class="text-center mb-5">
        <h1 class="display-1 fw-bold">Learn React</h1>
      </div>

      <p class="text-lg-center fs-6 lh-base">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia tempora
        dolore perferendis atque, aspernatur fugit iure aliquam saepe quam sit
        soluta! Adipisci provident sint nihil quas ea excepturi sunt aperiam?
        Nulla nisi ratione debitis, dolore ea veritatis quam accusamus
        temporibus unde vero amet recusandae dolorem fugiat iure harum veniam ad
        eius? Nam ad, placeat obcaecati quia quae animi necessitatibus facilis
        nemo sequi? Neque, dignissimos? Porro nam eum quam vitae, numquam,
        cumque perspiciatis hic iusto sequi molestias temporibus aliquam in
        voluptas quia nobis itaque dolorem maxime odit soluta odio! Facere optio
        ratione quidem vitae consequuntur perspiciatis accusantium aspernatur
        consectetur non, natus, placeat, eaque architecto? Modi labore
        accusantium dolore molestiae impedit debitis exercitationem illo dicta
        rerum totam qui ab aut voluptates possimus tempore nulla, sunt odit
        quam! Error in voluptates, similique maxime quo accusantium quibusdam
        repudiandae sunt ut laudantium nemo saepe veniam, adipisci esse
        exercitationem. Error ad id ipsam vero laudantium tempora vel architecto
        porro dolore praesentium aliquam molestias repudiandae, accusantium
        pariatur laborum itaque minima hic culpa beatae! Corrupti iste quisquam
        sequi eligendi, voluptatibus harum optio neque possimus. Pariatur
        perferendis nihil beatae voluptatum architecto explicabo dolores. At et
        numquam similique doloribus mollitia eius a voluptatibus. A dolore odio,
        sed ad voluptates incidunt nostrum nam vero quos vitae, voluptatibus
        doloremque sequi eius quo at unde minus non dignissimos aut inventore
        quod odit illo ea voluptatem. Ut, vitae dolor? Maxime, consectetur!
        Minima magnam molestiae, id explicabo at voluptates! Corporis inventore
        facere accusamus libero molestiae magni cumque repellat cum dignissimos,
        consequatur ipsum error, quidem dolorem nostrum temporibus rerum. Nihil
        quisquam pariatur maxime est explicabo culpa voluptates voluptatem saepe
        quos quo optio voluptatibus iure iste eos earum blanditiis consectetur
        error, laboriosam esse! Unde sit assumenda ex atque quaerat voluptatem
        id nemo nulla odio corporis earum voluptate, at ea facilis modi harum
        consectetur distinctio! Harum eius consequatur rerum ipsum nemo
        laboriosam modi mollitia non delectus. Deleniti vero tempora placeat
        odio sint nemo, architecto ratione est ipsum ullam officia sed odit
        sequi assumenda id vel molestiae. Nihil maxime laudantium temporibus
        fugiat distinctio veritatis consequatur reiciendis repellendus
        exercitationem vel dolorem error voluptates, perspiciatis at porro,
        minus veniam cumque! Quam dolore vero, est quae asperiores magni non
        ipsum ea, recusandae maxime incidunt quod a culpa nulla molestiae minima
        quo voluptatem iure necessitatibus, quidem esse debitis provident. Iusto
        voluptatibus at hic et architecto ducimus quod placeat, officia, quo
        ullam eos ab quibusdam? Vero, eveniet vitae. Molestias eaque ratione
        debitis hic nisi? Debitis sed fuga quaerat magni amet modi. Voluptatibus
        vel voluptatem nisi? Excepturi iusto consequuntur ipsa quisquam unde
        illo optio voluptatibus doloremque debitis sed rem veniam, adipisci
        autem alias quaerat doloribus quo dolores exercitationem quam
        repellendus laboriosam beatae. Assumenda rerum quam aperiam sint
        deserunt delectus saepe enim nam corporis id repellendus amet harum,
        iusto necessitatibus ab quasi minima temporibus doloremque vel magni
        vitae obcaecati ratione eaque. Modi maiores vero quam dolores ipsum
        aliquid et, explicabo iste voluptatum. Incidunt veritatis beatae illum
        veniam velit dignissimos quasi molestiae ipsum odit recusandae deserunt
        iure, ullam necessitatibus placeat itaque blanditiis ut laudantium
        adipisci, voluptates ratione.
      </p>
    </div>
  </div>
</Layout>
