<!-- <div id="map"></div>

<script is:inline>
  mapboxgl.accessToken =
    "pk.eyJ1IjoiYWJkZWxheml6ZmFraSIsImEiOiJjbDd3MjUzYmEwaDdmM3ZwZW0xdTF6cDVnIn0.7hVLsXDM3F8ArxOaTtcdvw";

  const map = new mapboxgl.Map({
    container: "map", // container ID
    style: "mapbox://styles/mapbox/streets-v11", // style URL
    center: [46.7982743, 24.7606592], // starting position [lng, lat]
    zoom: 12, // starting zoom
  });
</script> -->
